@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #a9ff0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #000;
  color: #fff;
  height: 100svh;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  font-family: "Space Mono", monospace;
}

.logo {
  font-size: 20px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-items button {
  font-family: "Space Mono", monospace;
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  width: 100vw;
  padding-inline: 60px;
  margin-top: 10vh;
  position: relative;
}

.hero .title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 0.9;
}

.hero .title .fill {
  color: var(--primary-color);
}

.space {
  margin-inline-end: 100px;
}

.hero .title .outlined {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.sticker {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 15%;
  width: 120px;
}

.photo:first-child {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 400px;
}

.photo:last-child {
  position: absolute;
  bottom: -150px;
  right: 100px;
  width: 400px;
}

.infinite-scroll {
  position: absolute;
  z-index: 20;
  bottom: 20px;
  left: -20px;
  transform: rotate(10deg);

  font-size: 35px;
  padding-block: 5px;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: flex;
  --gap: 5px;
  gap: var(--gap);
  overflow: hidden;
  user-select: none;
  width: 100vw;
  background-color: var(--primary-color);
}

.infinite-scroll.second {
  transform: rotate(5deg);
  background-color: #fff;
  z-index: 10;
}

.infinite-scroll:hover ul {
  animation-play-state: paused;
}

.infinite-scroll ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--primary-color); */
  gap: var(--gap);
  align-items: center;
  flex-shrink: 0;
  min-width: 100%;

  animation: scroll 20s linear infinite;
}

.infinite-scroll li {
  display: flex;
  align-items: center;
  gap: 5px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.icon2 {
  width: 12px;
  height: 12px;
}

.icon1 {
  width: 20px;
  height: 20px;
}
